/* Universal styles */
* {
    font-family: system-ui, Arial, sans-serif, Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --form-actions-color: #596D48;
}

/* Page structure */
.page-layout {
    display: flex;
}

/* Sidebar section */
@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

.image-sidebar {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 38.5vw 100vh;
    background-position-x: -3.9rem;
    width: 30vw;
    height: 100vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.487);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding: 10px;
}

img[src="images/odin-lined-2.png"] {
    width: 80px;
}

.logo-title {
    font-family: Norse-Bold;
    font-size: 5rem;
    align-content: center;
    margin-top: 22px;
}

.image-author {
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    margin-top: 390px; 
}

.sidebar-link {
    color: white;
    text-decoration: underline;
    margin: 0 0.3rem;
}

/* Signup content */
.sign-up-layout {
    background-color: rgb(246, 246, 246);
}

.section-one {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
    width: 630px;
    margin-top: 35px;
    padding: 40px;
}

.section-one > p {
    margin-top: 12px;
}

.sign-up-container {
    background-color: white;
    box-shadow: 0px 9px 15px rgba(72, 72, 72, 0.287);
    height: 275px;
    padding: 18px 40px;
}

.call-to-action {
    color: rgb(59, 59, 59);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;
}

form {
    width: 925px;
}

/* input styles */
form > div {
    display: flex;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

label {
    color: rgb(82, 80, 80);
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

input {
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
    margin-bottom: 18px;
    padding: 8px;
}

input[type='password'] {
    margin: 0;
}

input:focus {
    border-color: blue;
}

/* form-validation styles */
.is-invalid {
    border-color: red;
}

.error {
    font-size: .7rem;
    color: red;
}

/* Submit/Login */
.form-options{
    flex-direction: column;
    justify-content: left;
}

.create-account {
    background-color: var(--form-actions-color);
    color: white;
    font-size: .9rem;
    font-weight: 500;
    border: solid;
    border-radius: 8px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 12px 14px;
}

.create-account:hover {
    background-color: #6d805c;
}

.create-account:active {
    background-color: #4e613e;
}

.login {
    font-size: .9rem;
    font-weight: 500;
    margin: 10px 0px;
}

.login-link {
    color: var(--form-actions-color);
    text-decoration: none;
}